@import 'src/common/styles/base.scss';

#userProfile {
    margin-top: -60px;

    .avatar {
        position:absolute;
        top:-50px;
        left:104px;
        width:70px;
        height:70px;
        border-radius: 35px;
        background-color: $profile-avatar-bg-color;
        background-size: contain;
        text-align:center;
        font-size:10px;
    }

    .name {
        display:inline-block;
        width:100%;
        margin-top: 40px;
        color: $profile-full-name-color;
        font-size: 18px;
        font-weight: normal;
    }

    .location {
        display:inline-block;
        width:100%;
        margin-top: 0;
        color:$profile-location-color;
        font-size: 12px;
        font-weight: normal;
    }

}

@media only screen and (min-width: 600px) {

    #userProfile .avatar {
        top:20px;
        left:20px;
    }

    #userProfile .name, #userProfile .location  {
        float: right;
        width:350px;
        text-align: left;
    }
    
}